*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body * {
    font-family: sans-serif;
    color: grey;
    border-color: rgba(27, 125, 182, 0.87) !important;
}
body{
    background-color: rgba(184, 225, 248, 0.712);
}
main{
    margin: 0 auto;
    width: 90%;
    background-color: white
}
.head{
    background-image: url("head.jpg");
    background-position-x: 50%;
    background-position-y: 80%;
    background-attachment: fixed;
    height: 250px;
    width: 100%;
}
.head h1{
    color: white;
    text-shadow: -1px 1px 20px white;
    font-size: 3em;
}
.head h2{
    font-family: courier;
    text-align: center;
    margin-top: 100px;
    color: white;
    text-decoration-line: underline;
    text-shadow: -1px 1px 20px black;
}
header{
    background-color: rgba(92, 188, 243, 0.712);
    height: 55px;
}
header ul{
    display: flex;
    justify-content: space-between;
}
header ul li{
    list-style: none;
    flex-grow: 1;
    background-color: rgba(152, 214, 250, 0.712);
    height: 55px;
    color: rgb(58, 58, 58);
    font-weight: bold;
    text-align: center;
    line-height: 55px;
}
header ul li:hover{
    background-color: rgb(255, 255, 255);
    color: black;
    text-shadow: -1px 1px white;
    cursor: pointer;
    transition: all 0.5s;
}
.corpo{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}
.center{
    width: calc(100%/2);
    margin-bottom: 30px;
}
.lados {
    width: calc(100%/4);
}
/* .center{
    width: 50%;
} */
/* .lados{
    width: 30%;
} */
.corpo p{
    border-bottom: 1px solid black;
    margin-bottom: 5px;
    font-size: 1.5em;
    font-weight: bold;
    color: rgba(6, 66, 100, 0.712);
    text-shadow: -1px 1px 1px grey;
}
.corpo .equip{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 50px;
}
.corpo .equip input[type=text]{
    width: 100%;
    height: 30px;
    border-radius: 2px;
    border: 1px solid grey;
    margin-bottom: 5px;
}
.corpo .equip input[type=submit]{
    width: 70%;
    float: right;
    height: 30px;
    border-radius: 5px;
    border: 1px solid grey;
}
.corpo .equip input[type=submit]:hover{
    border: 1px solid white;
    cursor: pointer;
    background: linear-gradient(rgb(238, 238, 238),rgb(218, 218, 218));
    border: 1px solid black;
    color: black;
}
.corpo li{
    list-style: none;
    background-color: rgba(92, 188, 243, 0.712);
    padding: 10px;
    font-weight: bold;
    text-shadow: -1px 1px white;
}
.corpo li:nth-child(even){
    background-color: rgba(92, 188, 243, 0.452);
}
.corpo li:nth-child(odd){
    background-color: rgba(70, 175, 236, 0.493);
}
.corpo li:hover{
    background-color: rgba(159, 212, 255, 0.712);
    text-decoration: underline;
    cursor: pointer;
    color: black;
    text-shadow: -1px 1px grey;
}
.corpo .parc li{
    width: 70%;
    color: black;
    background-color: white;
    border: 1px solid black;
    margin: 0 auto;
    margin-bottom: 5px;
    height: 130px;
}
.center .bloco{
    width: 90%;
    margin: 0 auto;
    background-color: rgb(247, 247, 247);
    padding: 10px;
    box-shadow: 1px 1px 3px 2px grey;
    margin-bottom: 10px;
}
.center .bloco p{
    color: grey;
    text-shadow: -1px 1px 5px grey;
}
.center .bloco #sinopse{
    color: grey;
    font-size: 1.5em;
    text-shadow: none;
}
.center .bloco .info{
    display: flex;
}
.bloco .info img{
    width: 25%;
    height: 25%;
}
.bloco .info .rmations{
    width: 75%;
    padding: 2px;
}
.bloco .info p{
    color: grey;
    font-size: 1em;
    padding: 2px;
    border-bottom: 1px solid black;
    text-shadow: -1px 1px 1px grey;
}
.bloco .info p strong{
    text-shadow: -1px 1px 5px grey;
}
footer{
    height: 60px;
    background-color: rgba(36, 36, 36, 0.712);
}
footer p{
    font-weight: bold;
    font-size: 2em;
    color: white;
    text-align: center;
    line-height: 60px;
}
a:any-link{
    color: white;
    text-shadow: -1px 1px 20px white;
}
.btn{
    display: none;
}
header label{
    display: none;
}
@media screen and (max-width: 500px){
    .btn{
        display: block;
    }
    .head h2{
        margin-top: 15px;
        font-size: 1.2em;
    }
    .lados{
        width: 100%;
    }
    .center{
        width: 100%;
    }
    .btn:nth-child(2){
        border-left: 1px solid black;  
        border-right: 1px solid black;    
    }
    header{
        position: relative;
        display: flex;
    }
    header label{
        display: flex !important;
        width: 100%;
        font-size: 1.5em;
        justify-content: center;
        align-items: center;
    }
    header label strong{
        color: white;
        text-shadow: -1px 1px 1px black;
    }
    .corpo .bloco .info {
        display: block;
    }
    .corpo .bloco .info img{
        width: 50%;
        display: block;
        margin: 0 auto;
    }
    .corpo .bloco .info .rmations{
        width: 100%;
    }
    .wrapper{
        position: absolute;
        transition: transform 0.7s; 
        display: block;
        width: 100%;
        margin-top: 55px;
        transform: translateX(-500px);
    }
    header label{
        display: none;
    }
    .wrapper li{
        width: 100%;
        background-color: rgba(64, 171, 233, 0.822);
        height: 55px;
        border-bottom: 1px solid black;
        font-size: 2em;
        font-weight: bold;
        color: white;
        text-shadow: -1px 1px black;
        text-align: center;
        border-left: 1px solid black;
        border-right: 1px solid black;
    }
    header .btn{
        width: 40%;
        font-size: 2.5em;
        text-align: center;
        color: white;
        text-shadow: -1px 1px black;
        line-height: 55px;
        background-color: rgba(15, 95, 141, 0.568);
    }
    footer p{
        font-size: 1.3em;
    }
}
